---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hollow Knight Selector">
	<main class="text-center size-full h-screen bg-center bg-cover bg-no-repeat" style="background-image: url(/public/img/hk_background.jpeg);">
		<div class="absolute bottom-10 left-10 w-[500px]">
			<img src="/public/img/hk_logo.png" alt = "">
		</div>
	</main>
</Layout>