---
interface Props{
    characterImg:string
    characterName:string
}
const {characterImg, characterName} = Astro.props;
---

<div class="w-1/2">
    <img 
    class="w-full"
    src={characterImg} 
    alt={characterName}>
</div>