---
interface Props{
    characterImg:string
    characterName:string
    id?:string
}
const {characterImg, characterName, id} = Astro.props;
---

<div 
    id = {id}
    class="w-1/2">
        <img 
        class="w-full"
        src={characterImg} 
        alt={characterName}>
</div>