---
interface Character{
    name:string
    description:string
}

interface Props{
    characters: Character[]
}

const {characters} = Astro.props;
---

<div>
    <div style="background-image: url(/img/hk_background.jpeg);"></div>
</div>